{% extends 'base.html' %} 
{% block content %}

<main class="container">
  <h1>Allowances</h1>
  <ul>
    <li class="a_item no_style">
      <small>From</small>
      <small>Destination</small>
      <small>Depart date</small>
      <small>Arriving date</small>
      <small>Economy seats</small>
      <small>First seats</small>
      <small>Business seats</small>
      <small>Economy price</small>
      <small>First price</small>
      <small>Business prise</small>
      <small>Action</small>
    </li>
    {% for allowance in allowances %}
    <li>
      <form class="a_item" method="POST" action="{% url 'update_allowance'%}">
        {% csrf_token %}

        <strong>{{allowance.from_location}}</strong>
        <strong>{{allowance.destination}}</strong>
        <strong>{{allowance.depart_date}}</strong>
        <strong>{{allowance.arriving_date}}</strong>
        <input type="hidden" name="allowance_id" value="{{allowance.id}}" />
        <input
          type="number"
          name="economy_seats"
          value="{{allowance.economy_seats}}"
          class="number_input"
        />
        <input
          type="number"
          name="first_class_seats"
          value="{{allowance.first_class_seats}}"
          class="number_input"
        />
        <input
          type="number"
          name="business_class_seats"
          value="{{allowance.business_class_seats}}"
          class="number_input"
        />
        <input
          type="number"
          name="economy_seat_price"
          value="{{allowance.economy_seat_price}}"
          class="number_input"
        />
        <input
          type="number"
          name="first_class_seat_price"
          value="{{allowance.first_class_seat_price}}"
          class="number_input"
        />
        <input
          type="number"
          name="business_class_seat_price"
          value="{{allowance.business_class_seat_price}}"
          class="number_input"
        />
        <button>Update</button>
      </form>
    </li>

    {% endfor %}
  </ul>
  <hr />
  <h5>New Destination</h5>
  <li class="a_item no_style">
    <small>From</small>
    <small>Destination</small>
    <small>Depart date</small>
    <small>Arriving date</small>
    <small>Economy seats</small>
    <small>First seats</small>
    <small>Business seats</small>
    <small>Economy price</small>
    <small>First price</small>
    <small>Business prise</small>
    <small>Action</small>
  </li>
  <form class="a_item" method="POST" action="{% url 'create_allowance'%}">
    {% csrf_token %}
    <input required type="text" name="from_location" class="number_input" />
    <input required type="text" name="destination" class="number_input" />
    <input required type="date" name="depart_date" class="number_input" />
    <input required type="date" name="arriving_date" class="number_input" />
    <input required type="number" name="economy_seats" class="number_input" />
    <input
      required
      type="number"
      name="first_class_seats"
      class="number_input"
    />
    <input
      required
      type="number"
      name="business_class_seats"
      class="number_input"
    />
    <input
      required
      type="number"
      name="economy_seat_price"
      class="number_input"
    />
    <input
      required
      type="number"
      name="first_class_seat_price"
      class="number_input"
    />
    <input
      required
      type="number"
      name="business_class_seat_price"
      class="number_input"
    />
    <button>CREATE</button>
  </form>

  <hr />
  <h1>Tickets</h1>
  <main class="ticket_section">
  <section>
  {% for ticket in tickets %}
  <article class="ticket_wrapper">
    <div class="ticket_header">
      <h5>Ticket Id: {{ticket.id}}</h5>
      <button
        onclick="toggle_ticket_content(this)"
        data-ticketid="{{ticket.id}}"
      >
        View Feedback
      </button>
    </div>
    <div class="ticket_content d-none" id="ticket_{{ticket.id}}">
      <ul class="feed_wrapper">
        {% for feed in ticket.feedbacks %}
        <li>
          <div>
            <strong>
              {% if feed.email %} Client {% else %} Admin: {% endif %}
            </strong>
            <strong>: {{feed.title}}</strong>
            <small style="margin-left: auto">{{feed.created_at}}</small>
          </div>
          {{feed.description}}
        </li>
        {% endfor %}
      </ul>
      <form
        method="POST"
        action="{% url 'new_admin_feedback'%}"
        class="f_new_w"
      >
      {% csrf_token %}
      <input type="hidden" name="ticket_id" value="{{ticket.id}}" />
        <div>
          <label for="f_title">Title</label>
          <input type="text" name="title" id="f_title" required />
        </div>
        <div>
          <label for="f_t_text">Description</label>
          <input type="text" name="description" id="f_t_text" required />
        </div>
        <button>Send</button>
      </form>
    </div>
  </article>
  {% endfor %}
  </section>
  <section>
    <form method='GET' action="{% url 'return_csv_report' %}">
    <button>Download CSV Report of All Tickets</button>
    </form>
  </section>
  </main>
</main>
<style>
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    width: min(100%, 1400px);
    background: white;
  }
  .a_item {
    display: grid;
    grid-template-columns: auto auto auto auto 100px 100px 100px 100px 100px 100px 80px;
    gap: 10px;
    margin-bottom: 10px;
  }
  .number_input {
    max-width: 100px;
  }
  .d-none {
    display: none;
  }
  .ticket_section{
    display:grid;
    grid-template-columns:1fr 1fr;
  }
  .ticket_wrapper {
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 400px;
  }
  .ticket_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
  }
  .ticket_content {
    height: 150px;
  }
  .feed_wrapper {
    height: calc(100% - 65px);
    overflow-y: auto;
  }
  .f_new_w div input {
    width: 100px;
  }
  .f_new_w button {
    height: 30px !important;
    width: 70px;
    border-radius: 5px;
  }
  .f_new_w div {
    display: flex;
    flex-direction: column;
  }
  .f_new_w {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
</style>
<script>
  function toggle_ticket_content(e) {
    const id = Number(e.getAttribute("data-ticketid"));
    const ticketTags = document.querySelectorAll(".ticket_content");

    for (let ticket of ticketTags) {
      console.log(ticket);
      ticket.classList.remove("d-none");
      ticket.classList.add("d-none");
    }

    document.getElementById(`ticket_${id}`).classList.remove("d-none");
  }
</script>
{% endblock %}
